img{
    width: 1320px;
    height: 650px;
    margin-left: 140px;
    margin-right: 140px;
}

.btn img{
    width: 50px;
    height: 50px;
}

.poke{
    padding: 20px;

}
.poke a{
    text-decoration: none;
    color: white;
}

.poke{
    color: white;
  background: #1877f2;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
    
}